@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}
.logo-text {
  font-family: 'Playfair Display', serif;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.wrap-input {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #858585;
  border-radius: 10px;
  margin-bottom: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Tag Prompt */
div#tag-input {
  display: inline-flex;
  position: relative;
  width: 100%;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  transition: border 0.25s ease-in-out;
}

div#tag-list {
  display: inline-block;
  position: relative;
  height: 100%;
  background-color: green;
}

#tag-input-field {
  display: inline-block;
  position: relative;
  height: 100%;
  min-width: 50%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 10px;
  text-align: center;

  @apply rounded-2xl;
}

.tags {
  @apply pb-4;
}

.tag {
  display: inline-block;
  align-self: center;
  justify-self: center;
  font-size: 18px;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 2px #444;
  padding: 4px 4px 4px 10px;
  margin-left: 10px;
  transition: all 0.1s ease-in;

  @apply mb-2;
}

.tag:after {
  box-sizing: border-box;
  content: '\0078';
  margin: 0 5px;
  transition: all 0.2s ease-in;
  @apply text-gray-500;
}

.tag:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px #ddd;
}

.tag:hover:after {
  color: #ddd;
}
